body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
}

#header {
    position: relative;
    background: #563363;
    width: 100%;
    height: 220px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

#header_image {
    float: right;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

#header_text {
    color: white;
    font-size: 30px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}