/* MAIN */

@font-face {
    font-family: Renogare;
    src: url("assets/fonts/Renogare-Regular.otf") format("opentype");
}

body {
    margin: 0px;
    padding: 0px;

    background: #282828;
    color: white;

    font-family: 'Inclusive Sans', 'Trebuchet MS', sans-serif;
    text-align: center;

    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px; /* Width of vertical scrollbar */
    height: 12px; /* Height of horizontal scrollbar */
}

body::-webkit-scrollbar-track {
    background: #333333; /* Background of the scrollbar track */
    border-radius: 6px;
  }
  
body::-webkit-scrollbar-thumb {
    background: #555555; /* Scrollbar thumb (handle) */
    border-radius: 3px;
    border: 2px solid #555555; /* Padding around the thumb */
}
  
body::-webkit-scrollbar-thumb:hover {
    background: #777777; /* Thumb color on hover */
    border: 2px solid #777777; /* Padding around the thumb */
}

button {
    cursor: pointer;
}

/* GLOBAL CLASSES */

.celestial {
    font-family: 'Renogare', 'Inclusive Sans', 'Trebuchet MS', sans-serif;
}

/* HEADER */

@keyframes header_fadein {
    0% {
        opacity: 0%;
        transform: translateY(-30px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.header_anim {
    opacity: 0%;
    animation: header_fadein 0.5s ease-out forwards;
}

@keyframes header_expandout {
    0% {
        width: 0px;
    }
    100% {
        width: var(--header_mainsep_width);
    }
}

#header {
    width: 100vw;
    height: 100vh;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header_img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    position: absolute;
    top: 0px;
    left: 0px;

    filter: brightness(60%);

    background-color: #282828;
}

#header p {
    text-align: center;
    color: white;

    margin: 0px;
    padding: 0px;
    z-index: 1;

    user-select: none;
}

#header_title {
    font-size: 70px;
}

#header_mainsep {
    --header_mainsep_width: 700px;

    width: 0px;
    height: 3px;
    color: white;
    background-color: white;
    border: none;

    z-index: 1;

    margin-top: 15px;
    margin-bottom: 15px;

    animation: header_expandout 0.8s cubic-bezier(0.42, 0, 0.5, 1) forwards;
    animation-delay: 500ms;
}

#header_subtitle {
    margin-top: 10px !important;
    font-size: 24px;

    animation-delay: 100ms;
}

#header_quicklinks_title {
    margin-top: 15vh !important;
    margin-bottom: 20px !important;
    font-size: 30px;

    animation-delay: 200ms;
}

#header_quicklinks {    
    margin-bottom: 15vh;

    z-index: 1;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    animation-delay: 500ms;
}

#header_quicklinks button {
    width: 300px;
    height: 60px;
    
    border: none;
    border-radius: 15px;

    color: white;
    font-family: 'Renogare', 'Inclusive Sans', 'Trebuchet MS', sans-serif;
    font-size: 24px;

    position: relative;

    text-align: left;
    padding-left: 60px;
}

#header_quicklinks button svg {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);
}

.header_openinnew {
    position: absolute;
    top: 50%;
    left: auto !important;
    right: 10px;

    width: 30px !important;
    height: 30px !important;

    transform: translateY(-50%);

    opacity: 0%;
    transition: opacity 0.2s ease-out;
}

#header_quicklinks button:hover .header_openinnew {
    opacity: 100%;

    transition: opacity 0.2s ease-out;
}

#header_ql_rapidfire {
    background-color: #3366ff;
    transition: background-color 0.2s ease-out;

    animation-delay: 300ms;
}

#header_ql_rapidfire:hover {
    background-color: #5577ff;
    transition: background-color 0.2s ease-out;
}

#header_ql_rapidfire svg {
    width: 40px;
    height: 40px;
}

#header_ql_lunasim {
    background-color: #9900ff;
    transition: background-color 0.2s ease-out;

    animation-delay: 300ms;
}

#header_ql_lunasim:hover {
    background-color: #9955ff;
    transition: background-color 0.2s ease-out;
}

#header_ql_lunasim svg {
    width: 40px;
    height: 40px;
}

#header_ql_schedule {
    background-color: #ff5050;
    transition: background-color 0.2s ease-out;

    animation-delay: 350ms;
}

#header_ql_schedule:hover {
    background-color: #ff7575;
    transition: background-color 0.2s ease-out;
}

#header_ql_schedule svg {
    width: 40px;
    height: 40px;
}

#header_ql_github {
    background-color: #000000;
    transition: background-color 0.2s ease-out;

    animation-delay: 350ms;
}

#header_ql_github:hover {
    background-color: #222222;
    transition: background-color 0.2s ease-out;
}

#header_ql_github svg {
    width: 35px;
    height: 35px;
}

#header_gradient {
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 40px;

    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%, #141414 100%);
}

#header_scrollarrow {
    position: absolute;
    bottom: 40px;
    
    width: 70px;
    height: 70px;

    border: none;
    border-radius: 100px;

    background-color: #00000000;
    transition: background-color 0.2s ease-out;

    animation-delay: 500ms;
}

#header_scrollarrow svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    transition: transform 0.3s ease-out;
}

#header_scrollarrow:hover {
    background-color: #00000055;
    transition: background-color 0.2s ease-out;
}

#header_scrollarrow:hover svg {
    transform: translate(-50%, -40%);
    transition: transform 0.3s ease-out;
}

/* NAVBAR */

#navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    
    width: 100vw;
    height: 100px;

    border: none;
    border-radius: 0px;
    background-color: #444444;

    z-index: 1;
}

/* CONTENT */

#content {
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;
    
    width: 90vw;

    border: 1px solid red;
}


/* EXPERIENCE */

#c_exp_title {
    font-size: 40px;
    margin-bottom: 0px;
}

#c_exp_mainsep {
    width: 300px;
    height: 2px;
    color: white;
    background-color: white;
    border: none;
}

#c_exp_projects {
    margin-top: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

#c_exp_general {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

#c_exp_comps {
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.c_expbox {
    position: relative;

    width: 400px;
    height: 90px;

    border: none;
    border-radius: 10px;

    background-color: #333333;

    text-align: left;
}

.c_expbox_icon {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 70px;
    height: 70px;
    
    border: none;
    border-radius: 5px;

    background-color: #202020;
}

.c_expbox_icon svg {
    position: absolute;
    top: 7px;
    left: 7px;

    width: 56px;
    height: 56px;
}

.c_expbox_title {
    margin: 0px;
    font-family: 'Renogare', 'Inclusive Sans', 'Trebuchet MS', sans-serif;
    font-size: 22px;
    position: absolute;
    top: 8px;
    left: 90px;
}

.c_expbox_subtitle {
    margin: 0px;

    font-size: 16px;
    color: #aaaaaa;

    position: absolute;
    top: 38px;
    left: 90px;
}