body {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
}

#header {
    position: relative;
    background: #563363;
    width: 100%;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

#header_image {
    float: right;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#header_text {
    color: white;
    width: 100%;
    max-width: 600px;
    font-size: 50px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* alright ima be honest here - i have no idea how this works; thanks stack overflow! */
.fadegradientbottom {

    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;

    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%, #ffffff 100%); /* W3C */

}

#profile_section {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 150px;
}

#profile_pic {
    float: left;
    width: 300px;
    height: 300px;
    /* border-width: 6px; */
    /* border-radius: 20px; */
    /* border-style: solid; */
    /* border-color: #ffe9a8; */
}

#profile_header {
    font-size: 40px;
}

#profile_color_strip {
    margin-top: -25px;
    margin-left: 300px;
    margin-bottom: 40px;
    width: 200px; height: 10px;
    background-color: cornflowerblue;
}

#profile_text {
    font-size: 25px;
}

#experience_section {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 150px;
}

#experience_header {
    font-size: 40px;
}

#experience_color_strip {
    margin-top: -25px;
    margin-bottom: 40px;
    width: 250px; height: 10px;
    background-color: cornflowerblue;
}

#experience_text {
    font-size: 25px;
}


#portfolio_section {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 150px;
}

#portfolio_header {
    font-size: 40px;
}

#portfolio_color_strip {
    margin-top: -25px;
    margin-bottom: 40px;
    width: 250px; height: 10px;
    background-color: cornflowerblue;
}

#portfolio_description {
    font-size: 25px;
}

.portfolio_project {
    margin-left: 50px;
    /* height: 300px; */

    display: flex;
    align-items: center;
    justify-content: center
}

.portfolio_project_header {
    font-size: 25px;
}
/*
.portfolio_project_main {
    
}
*/
.portfolio_project_desc {
    font-size: 20px;
    margin-right: 50px;
}

.portfolio_project_image {
    float: right;
    width: 400px;
    border-width: 6px;
    border-style: solid;
    border-color: cornflowerblue;
}
/*
.portfolio_project_link {
    color: cornflowerblue;
}
*/


#links_section {
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 150px;
}

#links_header {
    font-size: 40px;
}

#links_color_strip {
    margin-top: -25px;
    margin-bottom: 40px;
    width: 500px; height: 10px;
    background-color: cornflowerblue;
}

#links_description {
    font-size: 25px;
}

.connection_link {
    color: cornflowerblue;
}


#footer {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
}

#footer_image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    background-position: center bottom;
    top: 0;
}


.fadegradienttop {

    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100px;

    background: linear-gradient(to top,  rgba(0,0,0,0) 0%, #ffffff 100%); /* W3C */

}